%strong= property.title
%p  #{property.property_types}  #{property.availability}
%p For more info contact:
- property.contacts.each do |contact|
  %p= [contact.name, contact.cell, (mail_to(contact.email) if contact.email)].select(&:present?).join(', ').html_safe
