- properties.each do |property|
  .property
    .property_image
      = image_tag property.attached_image.url(:small)
      = link_to "View Flyer", property.attached_pdf.url, target: :blank
    %dl
      %dt
        %h2
          =link_to property.title, property
    =render 'property', property: property
