%table
  %thead
    %tr
      - ["Title", "Description"].each do |heading|
        %th= heading
  %tbody
    - properties.each do |property|
      %tr
        %td= link_to property.title, property
        %td= property.description
