- properties.each do |property|
  .property
    .property_image
      = image_tag property.attached_image.url(:small)
    %ul
      %li
        %h2= property.title
      %li
        %p= property.description
      %li
        =link_to "View PDF", property.attached_pdf.url
