%table
  %tbody
    - properties.each do |property|
      %tr
        %td= image_tag property.attached_image.url(:small)
        %td= link_to property.title, property
        %td= property.description
