=gmaps4rails(deco_property.to_gmaps4rails)
.property.property-show
  .property_image
    = image_tag property.attached_image.url(:small)
    = link_to "View Flyer", property.attached_pdf.url, target: :blank
  %dl
    %dt
      %h2= property.title
  =render 'property', property: deco_property
